body {
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #000;
    background: #fff;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.collection-menu {
    margin-top: 30px;
}
a {
    text-decoration: none;
    color: #191919;
    transition: .5s;
}
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    padding-left: 0%;
}
.Menu {
    width: 230px;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    line-height: 30px;
}
ul li a:active {
    font-size: 16px;
    color: #EA8025;
    font-weight: 600;
    position: relative;
}
ul li a{
    text-decoration: none;
    font-family: 'SF Pro Text', sans-serif;
    padding-left: 26px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding-bottom: 8px;
    transition: .5s;
}
h3 {
    margin-bottom: 20px;
}

.right-section {
    margin-left: 40px;
}
.menu-list{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 992px) {}
.menu-item {
    flex: 0 0 calc(33.333% - 30px);
}   
.menu-item {
    margin: 0 15px 40px;
    min-height: 145px;
}
.menu-item-img {
    position: relative;
}
.menu-item-img a{
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 100%;
    position: relative;
    box-shadow: 0px 0px 13px 0px #00000040;
}
.menu-item-img a img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.menu-item img{
    width: 100%;
    
}
img {
    border: none;
    max-width: 100%;
    height: auto;
} 
.menu-item-info {
    padding: 12px 0 0;
    text-align: center;
}
.menu-item-info h5 a {
    font-weight: 700;
}
.menu-item-info h5:hover a {
    color: #ffa500;
}