body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-yrsa: Yrsa;
  --font-font: font;
  --font-poppins: Poppins;
  --font-abeezee: ABeeZee;
  --font-telegraf: Telegraf;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-2xl: 21px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;
  --font-size-81xl: 100px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #838383;
  --color-gray-200: #262626;
  --color-gray-300: #3f0808;
  --color-gray-400: rgba(0, 0, 0, 0.8);
  --color-gray-500: rgba(255, 255, 255, 0.3);
  --color-black: #000;
  --color-snow: #fff6f6;
  --color-oldlace-100: #fff7e6;
  --color-darkorange: #f78c1d;
  --color-dodgerblue: #0f89fa;
  --color-sienna-100: rgba(181, 91, 40, 0.29);
  --color-saddlebrown: rgba(156, 67, 18, 0.16);
  --color-cornflowerblue: #5b86e5;
  --color-darkgray: #9d9d9d;
  --black: #2f2f2f;
  --color-tan: #bb9265;

  /* border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-9xl: 28px;
  --br-71xl: 90px;
  --br-5xs: 8px;
}
