.property-1default-child {
  position: absolute;
  height: 100%;
  width: 48.7%;
  top: 0;
  right: 51.3%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-dodgerblue);
}
.hover-me {
  position: absolute;
  top: 28.57%;
  left: 17.39%;
  font-weight: 500;
}
.property-1default {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 115px;
  height: 56px;
}
.property-1variant2-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-dodgerblue);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xl);
}
.property-1variant2 {
  position: absolute;
  top: 96px;
  left: 19px;
  width: 115px;
  height: 56px;
  color: #fff73d;
}
.mix-blend-2 {
  position: absolute;
  top: 2931px;
  left: -307px;
  border-radius: var(--br-8xs);
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 157px;
  height: 172px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.trang-ch-child {
  position: absolute;
  top: calc(50% - 2392.5px);
  left: calc(50% - 737.5px);
  background-color: var(--color-gray-500);
  width: 1476px;
  height: 60px;
}
.component-11-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.chuyn-c-ph,
.gii-thiu,
.iu-khon,
.khuyn-mi,
.sn-phm,
.v-chng-ti {
  position: absolute;
  height: 4.96%;
  width: 18.75%;
  top: 33.25%;
  left: 9.58%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.chuyn-c-ph,
.gii-thiu,
.iu-khon,
.khuyn-mi,
.sn-phm {
  top: 41.44%;
}
.chuyn-c-ph,
.gii-thiu,
.iu-khon,
.khuyn-mi {
  top: 49.63%;
}
.chuyn-c-ph,
.gii-thiu,
.iu-khon {
  top: 57.32%;
}
.gii-thiu,
.iu-khon {
  top: 19.35%;
  left: 31.04%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
}
.gii-thiu {
  left: 9.58%;
}
.span {
  font-weight: 500;
}
.t-hng-0964984046-container1 {
  line-break: anywhere;
  width: 100%;
}
.t-hng-0964984046-container {
  top: 19.85%;
  left: 57.15%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
}
.chnh-sch-bo,
.iu-khon-s,
.lin-h,
.t-hng-0964984046-container {
  position: absolute;
  height: 4.96%;
  width: 18.75%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.lin-h {
  top: 30.27%;
  left: 57.15%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
}
.chnh-sch-bo,
.iu-khon-s {
  top: 33.5%;
  left: 31.04%;
}
.chnh-sch-bo {
  top: 41.94%;
}
.b-l-hu {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.sn-tr- {
  margin: 0;
}
.b-l-hu-container {
  position: absolute;
  height: 4.96%;
  width: 11.32%;
  top: 45.66%;
  left: 57.15%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.phone-0a42df1c753c4fa0910108da-icon {
  position: absolute;
  height: 4.96%;
  width: 1.39%;
  top: 19.85%;
  right: 43.61%;
  bottom: 75.19%;
  left: 55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-11-item {
  position: absolute;
  height: 0.5%;
  width: 83.54%;
  top: 73.2%;
  right: 6.95%;
  bottom: 26.3%;
  left: 9.52%;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
}
.map-pin-2-line-575ccb91b6f94a3-icon,
.z4172995596454-efd8024155f68e1-icon {
  position: absolute;
  height: 4.96%;
  width: 1.39%;
  top: 29.53%;
  right: 43.61%;
  bottom: 65.51%;
  left: 55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.z4172995596454-efd8024155f68e1-icon {
  height: 32.75%;
  width: 13.19%;
  top: 19.35%;
  right: 7.29%;
  bottom: 47.89%;
  left: 79.51%;
  border-radius: var(--br-3xs);
}
.test-db37bb3840ac45f3a0a3cf7aa-icon,
.vector-icon {
  position: absolute;
  height: 5.96%;
  width: 1.67%;
  top: 56.33%;
  right: 18.68%;
  bottom: 37.72%;
  left: 79.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 4.71%;
  width: 1.32%;
  top: 57.07%;
  right: 15.97%;
  bottom: 38.21%;
  left: 82.71%;
}
.cng-ty-c-container {
  position: absolute;
  height: 17.87%;
  width: 62.5%;
  top: 77.42%;
  left: 9.58%;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-yrsa);
  display: flex;
  align-items: center;
}
.component-11 {
  position: absolute;
  top: 4382px;
  left: 0;
  width: 1487px;
  height: 403px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-font);
}
.chuyn-nh,
.coffeeholic {
  position: absolute;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.chuyn-nh {
  top: 40px;
  left: 153px;
  justify-content: center;
  width: 1170px;
  height: 30px;
}
.coffeeholic {
  height: 6.67%;
  width: 98.48%;
  top: 0;
  left: 1.52%;
  font-size: var(--font-size-11xl);
}
.property-1default-inner,
.property-1default-item,
.rectangle-icon {
  position: absolute;
  height: 39.56%;
  width: 31.14%;
  top: 10.89%;
  right: 68.86%;
  bottom: 49.56%;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.property-1default-inner,
.rectangle-icon {
  right: 33.67%;
  left: 35.19%;
}
.rectangle-icon {
  top: 11.11%;
  right: 0;
  bottom: 49.33%;
  left: 68.86%;
}
.ngy-2332023 {
  height: 4.44%;
  width: 31.14%;
  top: 55.33%;
  left: 0;
  line-height: 84.5%;
  color: rgba(105, 91, 91, 0.5);
}
.mi-y-cc,
.ngy-2332023,
.signature-biu {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu {
  height: 10.44%;
  width: 31.06%;
  top: 63.33%;
  left: 0.08%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc {
  height: 16%;
  width: 31.14%;
  top: 77.33%;
  left: 0;
  line-height: 100%;
}
.ngy-23320231 {
  height: 4.44%;
  width: 31.14%;
  top: 55.33%;
  left: 35.19%;
  line-height: 84.5%;
}
.mi-y-cc1,
.ngy-23320231,
.signature-biu1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu1 {
  height: 10.44%;
  width: 31.06%;
  top: 63.33%;
  left: 35.27%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc1 {
  height: 16%;
  width: 31.14%;
  top: 77.33%;
  left: 35.19%;
  line-height: 100%;
}
.ngy-23320232 {
  height: 4.44%;
  width: 31.14%;
  top: 55.33%;
  left: 68.86%;
  line-height: 84.5%;
}
.mi-y-cc2,
.ngy-23320232,
.signature-biu2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu2 {
  height: 10.44%;
  width: 31.06%;
  top: 63.33%;
  left: 68.94%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc2 {
  height: 16%;
  width: 31.14%;
  top: 77.33%;
  left: 68.86%;
  line-height: 100%;
}
.property-1default1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1188px;
  height: 450px;
}
.ngy-23320233 {
  height: 4.44%;
  width: 31.14%;
  top: 57.78%;
  left: 0;
  line-height: 84.5%;
}
.mi-y-cc3,
.ngy-23320233,
.signature-biu3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu3 {
  height: 10.44%;
  width: 31.06%;
  top: 65.78%;
  left: 0.08%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc3 {
  height: 16%;
  width: 31.14%;
  top: 79.78%;
  left: 0;
  line-height: 100%;
}
.ngy-23320234 {
  height: 4.44%;
  width: 31.14%;
  top: 57.78%;
  left: 35.19%;
  line-height: 84.5%;
}
.mi-y-cc4,
.ngy-23320234,
.signature-biu4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu4 {
  height: 10.44%;
  width: 31.06%;
  top: 65.78%;
  left: 35.27%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc4 {
  height: 16%;
  width: 31.14%;
  top: 79.78%;
  left: 35.19%;
  line-height: 100%;
}
.ngy-23320235 {
  height: 4.44%;
  width: 31.14%;
  top: 57.78%;
  left: 68.86%;
  line-height: 84.5%;
}
.mi-y-cc5,
.ngy-23320235,
.signature-biu5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu5 {
  height: 10.44%;
  width: 31.06%;
  top: 65.78%;
  left: 68.94%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc5 {
  height: 16%;
  width: 31.14%;
  top: 79.78%;
  left: 68.86%;
  line-height: 100%;
}
.line-div,
.property-1variant2-child2,
.property-1variant2-child3 {
  position: absolute;
  height: 5.11%;
  width: 0.34%;
  top: 1.11%;
  right: 98.99%;
  bottom: 93.78%;
  left: 0.67%;
  border-right: 4px solid var(--color-darkorange);
  box-sizing: border-box;
}
.property-1variant2-child2,
.property-1variant2-child3 {
  top: 105.11%;
  bottom: -10.22%;
}
.property-1variant2-child3 {
  top: -103.33%;
  bottom: 198.22%;
}
.coffeeholic2,
.property-1variant21 {
  position: absolute;
  top: 490px;
  left: 20px;
  width: 1188px;
  height: 450px;
}
.coffeeholic2 {
  height: 6.67%;
  width: 98.48%;
  top: 0;
  left: 1.52%;
  font-size: var(--font-size-11xl);
  line-height: 84.5%;
  font-family: var(--font-font);
  display: flex;
  align-items: center;
}
.ngy-23320236 {
  height: 4.44%;
  width: 31.14%;
  top: 54.89%;
  left: 0;
  line-height: 84.5%;
}
.mi-y-cc6,
.ngy-23320236,
.signature-biu6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu6 {
  height: 10.44%;
  width: 31.06%;
  top: 62.89%;
  left: 0.08%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc6 {
  height: 16%;
  width: 31.14%;
  top: 76.89%;
  left: 0;
  line-height: 100%;
}
.ngy-23320237 {
  height: 4.44%;
  width: 31.14%;
  top: 54.89%;
  left: 35.19%;
  line-height: 84.5%;
}
.mi-y-cc7,
.ngy-23320237,
.signature-biu7 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu7 {
  height: 10.44%;
  width: 31.06%;
  top: 62.89%;
  left: 35.27%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc7 {
  height: 16%;
  width: 31.14%;
  top: 76.89%;
  left: 35.19%;
  line-height: 100%;
}
.ngy-23320238 {
  height: 4.44%;
  width: 31.14%;
  top: 54.89%;
  left: 68.86%;
  line-height: 84.5%;
}
.mi-y-cc8,
.ngy-23320238,
.signature-biu8 {
  position: absolute;
  display: flex;
  align-items: center;
}
.signature-biu8 {
  height: 10.44%;
  width: 31.06%;
  top: 62.89%;
  left: 68.94%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 150%;
}
.mi-y-cc8 {
  height: 16%;
  width: 31.14%;
  top: 76.89%;
  left: 68.86%;
  line-height: 100%;
}
.property-1variant3 {
  position: absolute;
  top: 960px;
  left: 20px;
  width: 1188px;
  height: 450px;
}
.chuyn-nh-parent,
.component-1 {
  position: absolute;
  overflow: hidden;
}
.component-1 {
  top: 83px;
  left: 115px;
  border-radius: var(--br-8xs);
  border: 1px dashed transparent;
  box-sizing: border-box;
  width: 1228px;
  height: 1430px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.chuyn-nh-parent {
  top: 2813px;
  left: 1px;
  background-color: #fef8e6;
  width: 1486px;
  height: 1568px;
  text-align: center;
}
.frame-child {
  position: absolute;
  top: 38px;
  left: 646px;
  border-radius: var(--br-3xs);
  width: 830px;
  height: 553px;
  object-fit: cover;
}
.signature-by-the-container {
  position: absolute;
  top: 143px;
  left: 167px;
  line-height: 84.5%;
  display: flex;
  align-items: center;
  width: 373px;
  height: 78px;
}
.mix-blend-2-child {
  position: absolute;
  height: 100%;
  width: 48.7%;
  top: 0;
  right: 51.3%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: #fa0f0f;
}
.hover-me2,
.mix-blend-21 {
  position: absolute;
  top: 28.57%;
  left: 26.51%;
}
.mix-blend-21 {
  top: 365px;
  left: 163px;
  width: 373px;
  height: 78px;
  text-align: center;
  color: var(--color-snow);
}
.nh-tin-rng {
  position: absolute;
  top: 201px;
  left: 35px;
  font-size: var(--font-size-xl);
  line-height: 90%;
  display: flex;
  align-items: center;
  width: 570px;
  height: 159px;
}
.rectangle-parent {
  position: absolute;
  top: 2131px;
  left: 1px;
  background-color: var(--color-white);
  width: 1487px;
  height: 606px;
  overflow: hidden;
}
.dm-20230323203647-001-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1488px;
  height: 851px;
  object-fit: cover;
}
.dm-20230323203647-001-1-wrapper {
  position: absolute;
  top: 1294px;
  left: 0;
  background-color: var(--color-white);
  width: 1488px;
  height: 837px;
  overflow: hidden;
}
.trang-ch-item {
  position: absolute;
  top: 0;
  left: calc(50% - 743.5px);
  width: 1487px;
  height: 462px;
  object-fit: cover;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 571px;
  height: 370px;
  object-fit: cover;
}
.frame-inner {
  left: 600px;
  border-radius: var(--br-8xs);
  width: 270px;
  height: 270px;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4,
.frame-child5,
.rectangle-div {
  position: absolute;
  top: 411px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 270px;
  height: 270px;
}
.rectangle-div {
  background-color: #d9d9d9;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4,
.frame-child5 {
  object-fit: cover;
}
.frame-child2,
.frame-child3,
.frame-child4,
.frame-child5 {
  left: 300px;
}
.frame-child3,
.frame-child4,
.frame-child5 {
  left: 600px;
}
.frame-child4,
.frame-child5 {
  top: 407px;
  left: 900px;
}
.frame-child5 {
  top: 0;
}
.cloudfee-hnh-nhn {
  top: 38.04%;
  left: 51.62%;
}
.cloudfee-hnh-nhn,
.the-coffee-house,
.vn,
.vn1 {
  position: absolute;
  height: 2.72%;
  width: 21.97%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.vn {
  top: 42.8%;
  left: 52.22%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.the-coffee-house,
.vn1 {
  top: 38.04%;
  left: 76.92%;
}
.vn1 {
  top: 42.8%;
  left: 77.52%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.hi-tea {
  top: 92.53%;
  left: 0.26%;
}
.c-ph-sa,
.hi-tea,
.vn2,
.vn3 {
  position: absolute;
  height: 2.72%;
  width: 21.97%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.vn2 {
  top: 97.28%;
  left: 0.34%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.c-ph-sa,
.vn3 {
  top: 92.53%;
  left: 25.64%;
}
.vn3 {
  top: 97.28%;
  left: 25.9%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.hng-tr-sa {
  top: 92.53%;
  left: 51.03%;
}
.hng-tr-sa,
.mochi-kem-chocolate,
.vn4,
.vn5 {
  position: absolute;
  height: 2.72%;
  width: 21.97%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.vn4 {
  top: 97.28%;
  left: 51.37%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.mochi-kem-chocolate,
.vn5 {
  top: 92.53%;
  left: 76.75%;
}
.vn5 {
  top: 97.28%;
  left: 76.84%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.rectangle-group {
  position: absolute;
  top: calc(50% - 1885.5px);
  left: calc(50% - 600.5px);
  width: 1170px;
  height: 742px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.trang-ch-inner {
  position: absolute;
  top: 0;
  left: 179px;
  width: 264px;
  height: 93px;
  object-fit: cover;
}
.lin-h1,
.menu,
.tin-tc,
.trang-ch1,
.v-chng-ti1 {
  position: absolute;
  height: 68.24%;
  width: 8.72%;
  top: 20%;
  left: 28.03%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lin-h1,
.menu,
.tin-tc,
.v-chng-ti1 {
  width: 5.37%;
  left: 38.16%;
}
.lin-h1,
.tin-tc,
.v-chng-ti1 {
  height: 51.76%;
  width: 8.72%;
  top: 28.24%;
  left: 43.73%;
}
.lin-h1,
.v-chng-ti1 {
  height: 68.24%;
  width: 12.21%;
  top: 18.82%;
  left: 51.84%;
}
.lin-h1 {
  width: 8.45%;
  top: 17.65%;
  left: 63.58%;
}
.trang-ch-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-500);
  width: 1491px;
  height: 85px;
  overflow: hidden;
  text-align: center;
}
.trang-ch {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4785px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-yrsa);
}
