footer {
    position: relative;
    top: 100px;
    background-color: black;
    
}
footer .row a{
    color: white;
    text-decoration: none;
}
footer .row h5{
    color: white;
}
footer .row span{
    color: white;
}
.container footer{
   padding: 20px;
}
.line{
    border-bottom: 1px solid white;
}
footer .row span .icon{
    width: 30px;
    height: 30px;
}
footer .row .logo{
    border-radius: 20px;
}