body {
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #000;
    background: #fff;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
}
.carousel-item {
    transition: transform .6s ease-in-out;
}
.banner-home {
    margin-bottom: 30px;
}
.image-menu-home {
    border-radius: 10px;
}
.menu-home .container .row div{
    margin-bottom: 20px;
}
.cloudtea {
    margin-bottom: 40px;
}
/* Blog_home */
a {
    text-decoration: none;
    color: black;
}
.blog_home {
    background: #FFF7E6;
    padding-bottom: 11%;
}

.blog_home .container {
    z-index: 1;
    position: relative;
}

.blog_home .blog_home_title:after {
    background: #FFFFFF;
}

.blog_home .blog_home_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 28px;
    margin-top: 40px;
}

.blog_home .blog_home_blogtitle {
    font-size: 24px;
    margin: 24px 0;
    padding-left: 12px;
    border-left: 4px solid #E57905;
}

.blog_home .blog_lists {
    margin: 0 -15px;
}

.blog_home .blog_home_title > img {
    margin-right: 8px;
    max-width: 16px;
}

.blog_home .viewmore_blog_home {
    float: right;
    margin-top: 10px;
}

.blog_home .viewmore_blog_home a {
    font-size: 18px;
    font-weight: 700;
    font-family: 'BebasNeue', 'Lato', "Times New Roman", serif;
    color: #EA8025;
    display: block;
    padding: 10px 50px;
    border: 2px solid #fff;
    background: transparent;
}

.blog_home .viewmore_blog_home a:before {
    background: #fff;
    content: '';
}

.blog_home .viewmore_blog_home a:hover {
    background: transparent;
    color: #EA8025;
}

.blog_item {
    margin-bottom: 30px;
    -ms-flex: 0 0 calc(33.333% - 30px);
    -webkit-flex: 0 0 calc(33.333% - 30px);
    flex: 0 0 calc(33.333% - 30px);
    overflow: hidden;
    margin: 0 15px 0;
    min-height: 342px;
}

.blog_item.top_blog_home {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
}

.blog_item .article_item_image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

.blog_item .article_item_image:before {
    content: '';
    position: relative;
    display: block;
    padding-top: 48%;
}

.blog_item.top_blog_home .article_item_image {
    max-height: 400px;
}

.blog_item.img_large .article_item_image:before {
    padding-top: 100%;
}

.blog_item .article_item_image .article_img {
    transition: all .4s;
    border-radius: 10px;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blog_item .article_item_image:hover > .article_img {
    transform: scale(1.1);
}

.blog_item .article_item_info {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    background: #FFF7E6 50%;
    padding: 16px 0;
}

.blog_item .article_item_info h3 {
    font-size: 18px;
    margin: 8px 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    height: 25px;
}
.blog_home_blogtitle a{
    text-decoration: none;
}
.blog_item .article_published_at {
    color: #00000099;
}

.blog_item .article_item_info .article_tags {
    font-size: 16px;
    font-weight: 700;
    color: #EA8025;
}

.blog_item .article_item_info .short_des {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.blog_item .article_item_info .article_item_action {
    position: relative;
    z-index: 1;
}

.blog_item .article_item_info .article_item_action a {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #EA8025;
    padding: 8px 25px;
    display: inline-block;
}

.blog_home .blog_item .article_item_info .meta {
    display: none;
}

#blog .blog_item {
    margin-bottom: 30px;
    -ms-flex: 0 0 calc(50% - 30px);
    -webkit-flex: 0 0 calc(50% - 30px);
    flex: 0 0 calc(50% - 30px);
    overflow: hidden;
    margin: 0 15px 30px;
    min-height: 342px;
}

#blog .blog_item.top_blog_home {
    -ms-flex: 0 0 calc(100% - 30px);
    -webkit-flex: 0 0 calc(100% - 30px);
    flex: 0 0 calc(100% - 30px);
}


/* time */
#time {
    width: 12%;
    background-color: black;
    border-radius: 20px;
    text-align: right;
    position: fixed;
    top: 30px;
    left: 10px;
}

#test {
    text-align: center;
    font-family: serif;
    color: lightskyblue;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 5px 3px 25px #000CFF;
    padding: 5px;
    border: 2px lightskyblue;
    border-radius: 30px;
}

#b1 {
    text-align: center;
    font-weight: bold;
}

#ttt {
    color: lightskyblue;
    text-align: center;
    text-shadow: 10px 13px 30px #00FFF3;
    padding: 5px;
    border: 2px #000CFF;
    font-family: serif;
    border-radius: 30px;
}
    
#all {
    padding: 5px;
    border: 5px solid #0093FF;
    font-family: serif;
    border-radius: 20px;
}