.signup-child {
  position: absolute;
  top: 61px;
  left: 60px;
  width: 663px;
  height: 904px;
  object-fit: cover;
}
.coffe-s4t1 {
  color: var(--color-tan);
}
.coffe-s4t {
  margin: 0;
}
.coffe-s4t-is-container {
  position: absolute;
  top: 199px;
  left: 60px;
  font-size: var(--font-size-81xl);
  letter-spacing: 0.04em;
  line-height: 90px;
  text-align: center;
  display: inline-block;
  width: 660px;
  height: 236px;
  color: var(--color-white);
}
.logocoffe-2-icon1 {
  position: absolute;
  top: 549px;
  left: 105px;
  width: 573px;
  height: 363px;
  object-fit: cover;
}
.signup-page-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 671px;
  height: 903px;
}
.login2 {
  color: var(--color-cornflowerblue);
}
.already-have-an-container,
.create-account1,
.or1 {
  position: absolute;
  letter-spacing: 0.08em;
  line-height: 40px;
}
.already-have-an-container {
  top: calc(50% + 339.5px);
  left: calc(50% - 183.5px);
  color: var(--color-black);
}
.create-account1,
.or1 {
  display: inline-block;
}
.or1 {
  top: 377.92px;
  left: 275.8px;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
  width: 28.06px;
  height: 33.44px;
}
.create-account1 {
  top: 165px;
  left: 63px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-yrsa);
  color: var(--color-black);
  width: 369px;
}
.signup-page-child2,
.signup-page-child3 {
  position: absolute;
  top: 392.14px;
  left: 251.33px;
  background-color: var(--color-gray-100);
  width: 17.91px;
  height: 4.18px;
}
.signup-page-child3 {
  left: 325.22px;
}
.create-account2,
.full-name {
  position: absolute;
  letter-spacing: 0.08em;
  line-height: 40px;
}
.create-account2 {
  top: 681px;
  left: 227px;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
  color: var(--color-white);
  display: inline-block;
  width: 142px;
  height: 34px;
}
.full-name {
  top: 0;
  left: 0;
}
.input-name-inner {
  position: absolute;
  top: 46.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 576px;
  height: 1px;
}
.input-name2,
.input-name3,
.input-name4,
.signup-page-child4 {
  position: absolute;
  top: 475px;
  left: 63px;
  width: 575px;
  height: 47px;
}
.input-name3,
.input-name4,
.signup-page-child4 {
  top: 551px;
}
.input-name4,
.signup-page-child4 {
  top: 627px;
}
.signup-page-child4 {
  top: 718px;
  border-radius: var(--br-5xs);
  background-color: var(--color-cornflowerblue);
  height: 60px;
}
.create-account3 {
  position: absolute;
  top: 728px;
  left: 253px;
  letter-spacing: 0.08em;
  line-height: 40px;
  color: var(--color-white);
}
.signup-page1 {
  position: absolute;
  top: 62px;
  left: 720px;
  width: 671px;
  height: 903px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-telegraf);
}
.login-with-google-item,
.signup-item {
  position: absolute;
  height: 6.35%;
  width: 12.36%;
  top: 34.47%;
  right: 30.83%;
  bottom: 59.18%;
  left: 56.81%;
  background-color: var(--color-white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
}
.login-with-google-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.login-with-google2,
.search-1-icon1 {
  position: absolute;
  height: 6.35%;
  width: 12.36%;
  top: 34.47%;
  right: 14.58%;
  bottom: 59.18%;
  left: 73.06%;
}
.search-1-icon1 {
  height: 100%;
  width: 18.5%;
  top: 0;
  right: 81.5%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-with-google3 {
  position: absolute;
  width: 76.88%;
  top: 18.75%;
  left: 23.12%;
  line-height: 135.5%;
  display: inline-block;
}
.search-1-group {
  position: absolute;
  height: 3.13%;
  width: 12.01%;
  top: 36.13%;
  right: 14.58%;
  bottom: 60.74%;
  left: 73.4%;
}
.login-with-facebook3 {
  position: absolute;
  height: 56.25%;
  width: 88.1%;
  top: 28.13%;
  left: 11.9%;
  line-height: 135.5%;
  display: inline-block;
}
.login-with-facebook-group,
.vector-icon3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.vector-icon3 {
  width: 9.52%;
  right: 90.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-with-facebook-group {
  width: 100%;
  right: 0;
}
.login-with-facebook2 {
  position: absolute;
  height: 3.13%;
  width: 11.67%;
  top: 35.94%;
  right: 31.11%;
  bottom: 60.94%;
  left: 57.22%;
}
.signup {
  position: relative;
  background: linear-gradient(#bb9265, #bb9265), #5b86e5;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--font-yrsa);
}
