.chuyn-nh-txt-container {
  line-break: anywhere;
  width: 100%;
}
.chuyn-nh2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -7.69%;
  left: 0;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.chuyn-nh1 {
  position: absolute;
  top: 151px;
  left: 483px;
  width: 382px;
  height: 65px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
}
.the-coffee-house-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.the-coffee-house-s-l-ni-mi {
  position: absolute;
  top: 207px;
  left: 305px;
  width: 745px;
  height: 57px;
  text-align: center;
  font-size: 22px;
}
.component-2-child,
.component-2-inner,
.component-2-item {
  position: absolute;
  height: 1.24%;
  width: 0.51%;
  top: 4.97%;
  right: 78.39%;
  bottom: 93.78%;
  left: 21.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-2-inner,
.component-2-item {
  height: 65.72%;
  width: 31.36%;
  top: 0.53%;
  right: 68.64%;
  bottom: 33.75%;
  left: 0;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.component-2-inner {
  height: 76.91%;
  width: 65.25%;
  top: 0;
  right: 0;
  bottom: 23.09%;
  left: 34.75%;
}
.chic-ly-i {
  height: 9.59%;
  width: 31.36%;
  top: 69.45%;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.b-sn-phm,
.chic-ly-i,
.div,
.div1,
.ngy-11012023-chui {
  position: absolute;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.div {
  height: 2.66%;
  width: 8.22%;
  top: 81.53%;
  left: 0;
  opacity: 0.4;
}
.b-sn-phm,
.div1,
.ngy-11012023-chui {
  top: 85.08%;
}
.div1 {
  height: 2.66%;
  width: 8.22%;
  left: 34.75%;
  opacity: 0.5;
}
.b-sn-phm,
.ngy-11012023-chui {
  height: 15.63%;
  width: 32.88%;
  left: 0;
  font-size: var(--font-size-2xl);
}
.ngy-11012023-chui {
  height: 14.03%;
  width: 65.25%;
  top: 85.97%;
  left: 34.75%;
}
.blank-line {
  margin: 0;
}
.signature-by-the {
  margin: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-yrsa);
}
.signature-by-the-container2 {
  position: absolute;
  height: 7.28%;
  width: 58.14%;
  top: 75.67%;
  left: 34.66%;
  text-decoration: underline;
  line-height: 84.5%;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-family: var(--font-abeezee);
}
.component-2 {
  position: absolute;
  top: 439px;
  left: 138px;
  width: 1180px;
  height: 563px;
}
.component-child,
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}
.component-child {
  background-color: var(--color-oldlace-100);
}
.instance-child {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-9-child,
.component-9-inner,
.component-9-inner1 {
  position: absolute;
  height: 2.33%;
  width: 2.95%;
  top: 23.7%;
  right: 97.05%;
  bottom: 73.97%;
  left: 0;
  display: none;
}
.component-9-child,
.component-9-inner1 {
  top: 61.22%;
  bottom: 36.45%;
}
.component-9-inner1 {
  top: 97.67%;
  bottom: 0;
}
.signature-biu9 {
  height: 16.9%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
}
.chuyencaphe,
.div2,
.mi-y-cc9,
.signature-biu9 {
  position: absolute;
  line-height: 84.5%;
  align-items: center;
}
.div2 {
  height: 6.34%;
  width: 19.82%;
  top: 29.58%;
  left: 0.23%;
  display: flex;
  opacity: 0.5;
}
.chuyencaphe,
.mi-y-cc9 {
  font-weight: 300;
}
.mi-y-cc9 {
  height: 44.37%;
  width: 99.77%;
  top: 41.55%;
  left: 0.23%;
  font-size: var(--font-size-2xl);
  display: flex;
  opacity: 0.99;
}
.chuyencaphe {
  height: 7.04%;
  width: 28.57%;
  top: 92.96%;
  left: 4.84%;
  text-decoration: underline;
  color: inherit;
  display: none;
  opacity: 0.6;
}
.component-4,
.component-5,
.component-6 {
  position: absolute;
  height: 25.49%;
  width: 98.41%;
  top: 0.9%;
  right: 1.59%;
  bottom: 73.61%;
  left: 0;
}
.component-5,
.component-6 {
  top: 37.52%;
  right: 1.36%;
  bottom: 36.98%;
  left: 0.23%;
}
.component-6 {
  top: 73.97%;
  right: 1.13%;
  bottom: 0.54%;
  left: 0.45%;
}
.component-9,
.component-item {
  position: absolute;
  height: 73.68%;
  width: 30.72%;
  top: 116.4%;
  right: 41.05%;
  bottom: -90.08%;
  left: 28.24%;
}
.component-item {
  height: 5.03%;
  width: 15.77%;
  top: 91.01%;
  right: 21.56%;
  bottom: 3.97%;
  left: 62.67%;
  border-radius: var(--br-3xs);
  background-color: rgba(181, 91, 40, 0.23);
  border: 1px solid var(--color-saddlebrown);
  box-sizing: border-box;
}
.tm-hiu-thm {
  position: absolute;
  height: 2.38%;
  width: 15.5%;
  top: 92.33%;
  left: 62.74%;
  font-size: var(--font-size-6xl);
  line-height: 84.5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.component-inner,
.rectangle-container {
  position: absolute;
  border-radius: var(--br-3xs);
}
.component-inner {
  height: 90.61%;
  width: 50.41%;
  top: 4.63%;
  right: 49.24%;
  bottom: 4.76%;
  left: 0.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-container {
  top: 1039px;
  left: -5px;
  width: 1452px;
  height: 766px;
}
.about-us-child,
.about-us-inner,
.about-us-item {
  position: absolute;
  top: 1137px;
  left: 633px;
  border-radius: var(--br-3xs);
  width: 242px;
  height: 153px;
  object-fit: cover;
}
.about-us-inner,
.about-us-item {
  top: 1341px;
}
.about-us-inner {
  top: 1544px;
}
.c-ph {
  position: absolute;
  top: 1071px;
  left: 650px;
  font-size: var(--font-size-21xl);
  text-decoration: underline;
  line-height: 84.5%;
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 26px;
}
.component-1variant2-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-71xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.c-ph1 {
  position: absolute;
  top: 35.85%;
  left: 30.25%;
  line-height: 84.5%;
}
.component-1variant2 {
  position: absolute;
  height: 100%;
  width: 14.69%;
  top: 0;
  right: 85.31%;
  bottom: 0;
  left: 0;
}
.c-ph2 {
  position: absolute;
  top: 35.85%;
  left: 28.57%;
  line-height: 84.5%;
}
.component-1variant21 {
  position: absolute;
  height: 100%;
  width: 14.69%;
  top: 0;
  right: 57.78%;
  bottom: 0;
  left: 27.53%;
}
.bnh-ngt {
  position: absolute;
  top: 35.85%;
  left: 16.81%;
  line-height: 84.5%;
}
.component-1variant22 {
  position: absolute;
  height: 100%;
  width: 14.69%;
  top: 0;
  right: 29.01%;
  bottom: 0;
  left: 56.3%;
}
.blog {
  position: absolute;
  top: 35.85%;
  left: 36.13%;
  line-height: 84.5%;
}
.component-1variant23 {
  position: absolute;
  height: 100%;
  width: 14.69%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85.31%;
}
.component-3 {
  position: absolute;
  top: 316px;
  left: 273px;
  width: 810px;
  height: 53px;
  text-align: center;
}
.component-7-child,
.component-7-inner,
.component-7-inner1 {
  position: absolute;
  height: 2.33%;
  width: 2.95%;
  top: 23.7%;
  right: 97.05%;
  bottom: 73.97%;
  left: 0;
}
.component-7-child,
.component-7-inner1 {
  top: 61.22%;
  bottom: 36.45%;
}
.component-7-inner1 {
  top: 97.67%;
  bottom: 0;
}
.chuyencaphe3,
.signature-biu12 {
  position: absolute;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.signature-biu12 {
  height: 16.9%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.chuyencaphe3 {
  height: 7.04%;
  width: 28.57%;
  top: 92.96%;
  left: 4.84%;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  opacity: 0.6;
}
.bnh-ngt1,
.component-7 {
  position: absolute;
  top: 1140px;
  left: 899px;
  width: 441px;
  height: 557px;
}
.bnh-ngt1 {
  height: 7.33%;
  width: 14.13%;
  top: 1.37%;
  left: 4.89%;
  text-decoration: underline;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.component-10-child {
  position: absolute;
  height: 7.63%;
  width: 3.79%;
  top: 0;
  right: 96.21%;
  bottom: 92.37%;
  left: 0;
  border-radius: 70px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-10-child1,
.component-10-child2,
.component-10-inner,
.component-10-item {
  position: absolute;
  height: 23.36%;
  width: 16.68%;
  top: 14.66%;
  right: 83.32%;
  bottom: 61.98%;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-10-child1,
.component-10-child2,
.component-10-inner {
  top: 76.64%;
  bottom: 0;
}
.component-10-child1,
.component-10-child2 {
  top: 45.8%;
  bottom: 30.84%;
}
.component-10-child2 {
  height: 109.77%;
  width: 54.38%;
  top: 1.68%;
  right: -7.17%;
  bottom: -11.45%;
  left: 52.79%;
}
.component-10 {
  position: absolute;
  top: 1831px;
  left: 138px;
  width: 1451px;
  height: 655px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
}
.about-us-child1,
.about-us-child2 {
  position: absolute;
  top: 2599px;
  left: 0;
  background-color: var(--color-oldlace-100);
  width: 1440px;
  height: 783px;
}
.about-us-child2 {
  top: 2524px;
  left: 382px;
  border-radius: var(--br-3xs);
  background-color: var(--color-sienna-100);
  border: 1px solid var(--color-saddlebrown);
  box-sizing: border-box;
  width: 229px;
  height: 38px;
}
.tm-hiu-thm1 {
  position: absolute;
  top: 2534px;
  left: 384px;
  font-size: var(--font-size-6xl);
  line-height: 84.5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 18px;
  opacity: 0.8;
}
.about-us-child3 {
  position: absolute;
  top: 3304px;
  left: 938px;
  border-radius: var(--br-3xs);
  background-color: var(--color-sienna-100);
  border: 1px solid var(--color-saddlebrown);
  box-sizing: border-box;
  width: 229px;
  height: 38px;
}
.blog1,
.tm-hiu-thm2 {
  position: absolute;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.tm-hiu-thm2 {
  top: 3314px;
  left: 940px;
  font-size: var(--font-size-6xl);
  text-align: center;
  justify-content: center;
  width: 225px;
  height: 18px;
  opacity: 0.8;
}
.blog1 {
  top: 2622px;
  left: 673px;
  font-size: var(--font-size-21xl);
  text-decoration: underline;
  color: var(--color-gray-300);
  width: 82px;
  height: 50px;
}
.about-us-child4,
.about-us-child5,
.about-us-child6 {
  position: absolute;
  top: 2720px;
  left: 673px;
  border-radius: var(--br-3xs);
  width: 242px;
  height: 153px;
  object-fit: cover;
}
.about-us-child5,
.about-us-child6 {
  top: 2921px;
}
.about-us-child6 {
  top: 3123px;
  left: 675px;
}
.signature-biu15 {
  top: 2733px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 401px;
  height: 38px;
}
.div8,
.mi-y-cc15,
.signature-biu15 {
  position: absolute;
  left: 939px;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.div8 {
  top: 2788px;
  width: 117px;
  height: 16px;
  opacity: 0.5;
}
.mi-y-cc15 {
  top: 2827px;
  font-size: var(--font-size-2xl);
  font-weight: 300;
  width: 400px;
  height: 39px;
}
.signature-biu16 {
  top: 2931px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 401px;
  height: 38px;
}
.div9,
.mi-y-cc16,
.signature-biu16 {
  position: absolute;
  left: 939px;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.div9 {
  top: 2986px;
  width: 117px;
  height: 16px;
  opacity: 0.5;
}
.mi-y-cc16 {
  top: 3025px;
  font-size: var(--font-size-2xl);
  font-weight: 300;
  width: 400px;
  height: 39px;
}
.signature-biu17 {
  top: 3133px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  width: 401px;
  height: 38px;
}
.div10,
.mi-y-cc17,
.signature-biu17 {
  position: absolute;
  left: 938px;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.div10 {
  top: 3188px;
  width: 117px;
  height: 16px;
  opacity: 0.5;
}
.mi-y-cc17 {
  top: 3227px;
  font-size: var(--font-size-2xl);
  font-weight: 300;
  width: 400px;
  height: 39px;
}
.about-us-child7 {
  position: absolute;
  top: 2636px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 1701px;
  height: 704px;
  object-fit: cover;
}
.component-11-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.chuyn-c-ph1,
.gii-thiu1,
.iu-khon1,
.khuyn-mi1,
.sn-phm1,
.v-chng-ti2 {
  position: absolute;
  height: 4.96%;
  width: 18.75%;
  top: 33.25%;
  left: 9.58%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.chuyn-c-ph1,
.gii-thiu1,
.iu-khon1,
.khuyn-mi1,
.sn-phm1 {
  top: 41.44%;
}
.chuyn-c-ph1,
.gii-thiu1,
.iu-khon1,
.khuyn-mi1 {
  top: 49.63%;
}
.chuyn-c-ph1,
.gii-thiu1,
.iu-khon1 {
  top: 57.32%;
}
.gii-thiu1,
.iu-khon1 {
  top: 19.35%;
  left: 31.04%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
}
.gii-thiu1 {
  left: 9.58%;
}
.span1 {
  font-weight: 500;
}
.t-hng-0964984046-container2 {
  top: 19.85%;
  left: 57.15%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
}
.chnh-sch-bo1,
.iu-khon-s1,
.lin-h2,
.t-hng-0964984046-container2 {
  position: absolute;
  height: 4.96%;
  width: 18.75%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.lin-h2 {
  top: 30.27%;
  left: 57.15%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yrsa);
}
.chnh-sch-bo1,
.iu-khon-s1 {
  top: 33.5%;
  left: 31.04%;
}
.chnh-sch-bo1 {
  top: 41.94%;
}
.b-l-hu1 {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.b-l-hu-container2 {
  position: absolute;
  height: 4.96%;
  width: 11.32%;
  top: 45.66%;
  left: 57.15%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
}
.phone-0a42df1c753c4fa0910108da-icon1 {
  position: absolute;
  height: 4.96%;
  width: 1.39%;
  top: 19.85%;
  right: 43.61%;
  bottom: 75.19%;
  left: 55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-11-child1 {
  position: absolute;
  height: 0.5%;
  width: 83.54%;
  top: 73.2%;
  right: 6.94%;
  bottom: 26.3%;
  left: 9.51%;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
}
.map-pin-2-line-575ccb91b6f94a3-icon1,
.z4172995596454-efd8024155f68e1-icon1 {
  position: absolute;
  height: 4.96%;
  width: 1.39%;
  top: 29.53%;
  right: 43.61%;
  bottom: 65.51%;
  left: 55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.z4172995596454-efd8024155f68e1-icon1 {
  height: 32.75%;
  width: 13.19%;
  top: 19.35%;
  right: 7.29%;
  bottom: 47.89%;
  left: 79.51%;
  border-radius: var(--br-3xs);
}
.test-db37bb3840ac45f3a0a3cf7aa-icon1,
.vector-icon1 {
  position: absolute;
  height: 5.96%;
  width: 1.67%;
  top: 56.33%;
  right: 18.68%;
  bottom: 37.72%;
  left: 79.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 4.71%;
  width: 1.32%;
  top: 57.07%;
  right: 15.97%;
  bottom: 38.21%;
  left: 82.71%;
}
.cng-ty-c-container2 {
  position: absolute;
  height: 17.87%;
  width: 62.5%;
  top: 77.42%;
  left: 9.58%;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-yrsa);
  display: flex;
  align-items: center;
}
.component-111 {
  position: absolute;
  top: 3382px;
  left: 0;
  width: 1440px;
  height: 403px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-font);
}
.lin-h3,
.menu1,
.tin-tc1,
.trang-ch2,
.v-chng-ti3 {
  position: absolute;
  height: 68.24%;
  width: 8.72%;
  top: 20%;
  left: 28.03%;
  line-height: 84.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lin-h3,
.menu1,
.tin-tc1,
.v-chng-ti3 {
  width: 5.37%;
  left: 38.16%;
}
.lin-h3,
.tin-tc1,
.v-chng-ti3 {
  height: 51.76%;
  width: 8.72%;
  top: 28.24%;
  left: 43.73%;
}
.lin-h3,
.v-chng-ti3 {
  height: 68.24%;
  width: 12.21%;
  top: 18.82%;
  left: 51.84%;
}
.lin-h3 {
  width: 8.45%;
  top: 17.65%;
  left: 63.58%;
}
.frame-child6 {
  position: absolute;
  height: 109.41%;
  width: 18.37%;
  top: 1.18%;
  right: 70.42%;
  bottom: -10.59%;
  left: 11.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trang-ch-group {
  position: absolute;
  top: -1px;
  left: -11px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1463px;
  height: 85px;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.about-us,
.frame-div,
.trang-ch-group {
  background-color: var(--color-white);
  overflow: hidden;
}
.frame-div {
  position: absolute;
  top: -4px;
  left: calc(50% - 591px);
  width: 1116px;
  height: 84px;
  display: none;
}
.about-us {
  position: relative;
  width: 100%;
  height: 3785px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-yrsa);
}
