.login-child {
  position: absolute;
  top: 61px;
  left: 60px;
  width: 663px;
  height: 904px;
  object-fit: cover;
}
.welcome {
  margin: 0;
}
.cooffe-s4t,
.span2 {
  color: var(--color-tan);
}
.cooffe-s4t {
  margin: 0;
}
.welcome-back-to-container {
  position: absolute;
  top: 199px;
  left: 60px;
  font-size: var(--font-size-81xl);
  letter-spacing: 0.04em;
  line-height: 90px;
  font-family: var(--font-yrsa);
  text-align: center;
  display: inline-block;
  width: 660px;
  height: 236px;
  color: var(--color-white);
}
.logocoffe-2-icon {
  position: absolute;
  top: 602px;
  left: 105px;
  width: 573px;
  height: 363px;
  object-fit: cover;
}
.signup-page-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 671px;
  height: 903px;
}
.or,
.sign-in {
  position: absolute;
  top: 377.92px;
  left: 275.8px;
  letter-spacing: 0.08em;
  line-height: 40px;
  display: inline-block;
  width: 28.06px;
  height: 33.44px;
}
.sign-in {
  top: 172px;
  left: 63px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-yrsa);
  color: var(--color-black);
  width: 224px;
  height: 33px;
}
.signup-page-inner,
.signup-page-item {
  position: absolute;
  top: 392.14px;
  left: 251.33px;
  background-color: var(--color-gray-100);
  width: 17.91px;
  height: 4.18px;
}
.signup-page-inner {
  left: 325.22px;
}
.create-account,
.input-name-icon,
.input-name-icon1 {
  position: absolute;
  top: 508.19px;
  left: 115.22px;
  width: 343.26px;
  height: 1px;
}
.create-account,
.input-name-icon1 {
  top: 539.3px;
  left: 117px;
}
.create-account {
  top: 681.43px;
  left: 244.16px;
  font-size: var(--font-size-base);
  letter-spacing: 0.08em;
  line-height: 40px;
  color: var(--color-white);
  display: inline-block;
  width: 85.96px;
  height: 33.44px;
}
.signup-page {
  position: absolute;
  top: 62px;
  left: 720px;
  width: 671px;
  height: 903px;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
}
.login-item,
.login-with-google-child {
  position: absolute;
  height: 6.35%;
  width: 12.36%;
  top: 34.47%;
  right: 30.83%;
  bottom: 59.18%;
  left: 56.81%;
  background-color: var(--color-white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
}
.login-with-google-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.login-with-google,
.search-1-icon {
  position: absolute;
  height: 6.35%;
  width: 12.36%;
  top: 34.47%;
  right: 14.58%;
  bottom: 59.18%;
  left: 73.06%;
}
.search-1-icon {
  height: 100%;
  width: 19.16%;
  top: 0;
  right: 80.84%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-with-google1 {
  position: absolute;
  width: 76.05%;
  top: 18.75%;
  left: 23.95%;
  line-height: 135.5%;
  display: inline-block;
}
.search-1-parent {
  position: absolute;
  height: 3.13%;
  width: 11.6%;
  top: 36.13%;
  right: 15%;
  bottom: 60.74%;
  left: 73.4%;
  font-family: var(--font-poppins);
}
.login-with-facebook1 {
  position: absolute;
  height: 69.23%;
  width: 88.82%;
  top: 23.08%;
  left: 11.18%;
  line-height: 135.5%;
  display: inline-block;
}
.login-with-facebook-parent,
.vector-icon2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.vector-icon2 {
  width: 8.07%;
  right: 91.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-with-facebook-parent {
  width: 100%;
  right: 0;
}
.login-with-facebook {
  position: absolute;
  height: 2.54%;
  width: 11.18%;
  top: 36.23%;
  right: 31.18%;
  bottom: 61.23%;
  left: 57.64%;
  font-family: var(--font-poppins);
}
.signup-here {
  color: var(--color-cornflowerblue);
}
.dont-have-an-container,
.email {
  position: absolute;
  letter-spacing: 0.08em;
  line-height: 40px;
}
.dont-have-an-container {
  top: 246px;
  left: 156px;
  color: var(--color-black);
}
.email {
  top: 0;
  left: 0;
}
.input-name-child {
  position: absolute;
  top: 46.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 576px;
  height: 1px;
}
.group-child,
.input-name,
.input-name1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 575px;
  height: 47px;
}
.group-child,
.input-name1 {
  top: 76px;
}
.group-child {
  top: 167px;
  border-radius: var(--br-5xs);
  background-color: var(--color-cornflowerblue);
  height: 60px;
}
.login1 {
  position: absolute;
  top: 177px;
  left: 263px;
  letter-spacing: 0.08em;
  line-height: 40px;
  color: var(--color-white);
}
.dont-have-an-account-signup-parent {
  position: absolute;
  top: 528px;
  left: 783px;
  width: 575px;
  height: 286px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.login {
  position: relative;
  background: linear-gradient(#bb9265, #bb9265), #5b86e5;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--black);
  font-family: var(--font-telegraf);
}
